# Avoid mac OS files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

**/.ipynb_checkpoints
